@import "../shared/shared";

:host {
  padding: 3rem 1rem 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .pin {
    position: relative;
    background-color: $dark-brown-col;
    height: toRem(20);
    width: toRem(130);

    i {
      color: white;
      position: absolute;
      top: -1rem;
    }
  }

  .score {
    background-color: white;
    height: auto;
    width: toRem(180);
    display: flex;
    align-items: start;

    ul {
      padding: toRem(10);
      list-style: none;
      width: 100%;
      margin: 0;

      li {
        padding: toRem(5);
        margin: toRem(5) 0;
        border-radius: toRem(5);
        // background-color: rgb(188, 186, 186);
        background-color: #ddcbcb;
      }
    }
  }
}
