<div class="frame">
  <div class="background"></div>
  <h1>Arena</h1>

  <div class="circles">
    <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span>
  </div>

  <div class="rope-out"></div>

  <div class="rope-in">
    <ng-container *ngFor="let tile of tiles">
      <div class="tile">
        <div class="tile-child"></div>
      </div>
    </ng-container>

    <ng-container *ngFor="let form of gameFormArray.controls; let i = index">
      <app-bot
        [ngStyle]="{
          left: calcPos(i, 'row'),
          top: calcPos(i, 'col')
        }"
        *ngIf="form.valid"
      ></app-bot>
    </ng-container>
  </div>

  <div class="connect-lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
