@import "../shared/shared";

:host {
  @include centered();
  width: 100%;
  height: 100%;
  padding: toRem(48);
}

.frame {
  position: relative;
  @include centered();
  width: calc(100vh - toRem(280));
  height: calc(100vh - toRem(280));
  background-color: black;
  border-radius: toRem(20);

  .background {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border-radius: toRem(10);
    background-color: #61c6f0;
  }

  h1 {
    position: absolute;
  }
}
