@import "../shared/shared";

div {
  background-color: $dark-brown-col;
  height: toRem(70);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: wheat;
  }

  i {
    padding: toRem(10);
    border-radius: 50%;
    border: toRem(1) solid;
    background-color: rgb(255 255 0 / 60%);
    cursor: pointer;
    margin: 0 toRem(10);
  }
}
