@import "../shared/shared";

a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: toRem(14);
  background-color: $dark-brown-col;
  color: wheat;
  height: toRem(50);
  padding-right: toRem(20);
}
