<form [formGroup]="startGameForm">

    <div class="one-bot">
        <h5>Bot 1</h5>
        <input (keyup)="uniqueName()" formControlName="bot_name1" id="in1" type="text" placeholder="Enter name">
        <small *ngIf="botName1?.touched && botName1?.errors?.['required']" class="text-danger">Name is required</small>

        <label for="">Choose Boolean value</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">0</option>
                <option value="">1</option>
            </optgroup>
        </select> <br>

        <label for="">Choose Boolean operation</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">AND</option>
                <option value="">OR</option>
                <option value="">XOR</option>
                <option value="">NOT</option>
            </optgroup>
        </select>

        <div class="slider-line">
            <i class="fa-solid fa-bolt"></i>
        </div>

        <label for="">Choose direction</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">North</option>
                <option value="">East</option>
                <option value="">West</option>
                <option value="">South</option>
            </optgroup>
        </select>
    </div>


    <div class="one-bot">
        <h5>Bot 2</h5>
        <input (keyup)="uniqueName()" formControlName="bot_name2"  id="in2" type="text" placeholder="Enter name"><br>
        <small *ngIf="botName2?.touched && botName2?.errors?.['required']" class="text-danger">Name is required</small>
        <small class="error text-danger"></small>

        <label for="">Choose Boolean value</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">0</option>
                <option value="">1</option>
            </optgroup>
        </select> <br>

        <label for="">Choose Boolean operation</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">AND</option>
                <option value="">OR</option>
                <option value="">XOR</option>
                <option value="">NOT</option>
            </optgroup>
        </select>

        <div class="slider-line">
            <i class="fa-solid fa-bolt"></i>
        </div>

        <label for="">Choose direction</label><br>
        <select name="" id="">
            <optgroup>
                <option value="">--</option>
                <option value="">North</option>
                <option value="">East</option>
                <option value="">West</option>
                <option value="">South</option>
            </optgroup>
        </select>
    </div>
</form>

<div class="music-volume">
    <button (click)="clearForm()" type="button">Clear Form</button>
    <i (click)="volumeOnOff()" class="fa-solid {{vol ? 'fa-volume-high' : 'fa-volume-xmark'}}"></i>
</div>




<!-- [disabled]="startGameForm.invalid" -->