<form class="main-form" [formGroup]="gameForm">
  <div class="form-array" formArrayName="gameFormArray">
    <ng-container *ngFor="let form of gameFormArray.controls; let i = index">
      <form class="form" [formGroup]="form">
        <h5>Bot {{ i + 1 }}</h5>

        <div class="form__input">
          <input
            [ngStyle]="{
              'border-color':
                botName(form)?.touched && botName(form)?.invalid ? 'red' : ''
            }"
            formControlName="bot_name"
            id="in1"
            type="text"
            placeholder="Enter name"
          /><br />
          <small
            *ngIf="botName(form)?.touched && botName(form)?.errors?.['required']"
            class="text-danger"
          >
            Name is required
          </small>
          <small
            *ngIf="botName(form)?.touched && botName(form)?.errors?.['minLength']"
            class="text-danger"
          >
            Minimum of three characters
          </small>
          <small
            *ngIf="botName(form)?.dirty && botName(form)?.errors?.['forbiddenName']"
            class="text-danger"
            >Name must be unique</small
          >
        </div>

        <div class="form__input">
          <label for="boolean_val">Boolean value</label><br />
          <select formControlName="boolean_val" name="boolean_val" id="">
            <option value>--</option>
            <option value="0">0</option>
            <option value="1">1</option></select
          ><br />
          <small
            *ngIf="booleanVal(form)?.touched && booleanVal(form)?.errors?.['required']"
            class="text-danger"
            >Boolean is required</small
          >
        </div>

        <div class="form__input">
          <label for="direction">direction</label><br />

          <select formControlName="direction" name="direction" id="">
            <option value>--</option>
            <option value="north">North</option>
            <option value="west">West</option>
            <option value="east">East</option>
            <option value="south">South</option></select
          ><br />
          <small
            *ngIf="direction(form)?.touched && direction(form)?.errors?.['required']"
            class="text-danger"
            >Direction is required</small
          >
        </div>

        <button class="btn__margin" (click)="clearForm(form)" type="button">
          Clear Form
        </button>
      </form>
    </ng-container>
  </div>

  <div class="general-control">
    <div class="form__input">
      <label for="boolean_op">Boolean operation</label><br />
      <select formControlName="boolean_op" name="boolean_op" id="">
        <optgroup>
          <option value="" hidden>--</option>
          <option value="">AND</option>
          <option value="">OR</option>
          <option value="">XOR</option>
          <option value="">NOT</option>
        </optgroup>
      </select>
    </div>

    <div class="slider-line">
      <i class="fa-solid fa-bolt"></i>
    </div>

    <div class="general__control-btns">
      <button
        class="btn__margin"
        *ngIf="gameFormArray.length < 10"
        (click)="addForm()"
        type="button"
      >
        + Add Form
      </button>
      <button
        class="btn__margin"
        *ngIf="gameFormArray.length > 2"
        (click)="removeForm()"
        type="button"
      >
        - Remove Form
      </button>

      <button class="btn__margin" (click)="clearAllForm()" type="button">
        Clear All Form
      </button>
    </div>
  </div>
</form>

<!-- [disabled]="startGameForm.invalid" -->
