form {
    .one-bot {
        margin-top: 15px;
        margin-bottom: 50px;
        max-height: 270px;

        small {
            display: block;
        }

        input {
            border-radius: 8px;
            padding: 3px;

            &:focus {
                outline: none;
            }
        }

        label {
            margin: 3px;
            font-size: 15px;
        }

        select {
            background-color: rgb(255 255 255 / 40%);
            border-radius: 100px;
            color: #000;
            cursor: pointer;
            padding: 0 5px;
            margin-bottom: 5px;

            &:hover {
                border: 1px solid hsla(0, 0%, 100%, .2);
                background-color: rgba(0, 15, 30, .4);
            }

            &:focus {
                outline: none;
            }
        }


        .slider-line {
            width: 170px;
            height: 15px;
            display: inline-block;
            background-color: #431e15;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
            margin-top: 10px;


            i {
                background-color: #ddcbcb;
                color: yellow;
                padding: 8px;
                border: 1px solid #431e15;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }

    button {
        background-color: rgb(255 255 255 / 40%);
        border-radius: 20px;
        color: #000;
        cursor: pointer;
        padding: 0 5px;
        display: block;
        margin: 0 auto;
    }
}